*{
    margin: 0;
    padding: 0;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 15px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;   /* so content doesn't show through */
    z-index: 1000;       /* keeps navbar above everything */
    box-shadow: 10px 5px 50px 10px;
    margin: 2px;
    border-radius: 20px;
}



/* Hide hamburger in desktop */
.hamburger{
    display:none;
    font-size:26px;
    cursor:pointer;
}

/* Mobile 320px */
@media (min-width:320px){

    .nav-center{
        display:none;
    }

    .search-icon{
        display:none;
    }

    .nav-right{
        display:none;
    }

    .hamburger{
        display:block;
    }

    .logo img{
        height:40px;
        width:auto;
    }

    .hero-main{
        margin-top: 100px;
    }

    .hero-main h2{
        margin: 50px;
        font-size: 30px;
    }

    .hero-main p{
        margin: 50px;
    }

    .hero-content{
        text-align: center;
    }

    .hero-content p{
        text-align: left;
        font-size: 18px;
    }

    .hero-content button{
        width: 150px;
        padding: 20px;
        border-radius: 30px;
    }

    .hero-content button:hover{
        background-color: orangered;
        color: white;
    }

    .watch-video{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .watch-video img{
        width: 280px;
        border-radius: 20px;
    }

    .watch-video button{
        background-color: white;
        border: none;
        font-size: 14px;
        padding-left: 200px;
    }
    .watch-video button:hover{
        background-color: black;
        color: white;
    }

    .hero-bottom{
        background-image: url(../Images/Background/bg-main.avif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 500px;
    }

    .hb-btn{
        background-color: orangered;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    position: sticky;
    top: 120px;   /* controls where it sticks */
    float: right;
    }

    .bottom-txt{
        padding-top: 80px;
        margin: 30px;
        font-size: 20px;
    }

    .services-txt{
        margin: 20px;
    }
    .s-txt{
        font-size: 30px;
    }

    .services-txt h4{
        margin-bottom: 10px;
    }

    .service{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-card1{
        background-image: url(../Images/Background/card1.avif);
        background-size: 100% 100%;
        color: white;
        margin: 20px;
        border-radius: 30px;
    }
    .s-card1 h3{
        padding-top: 40px;
        margin: 40px;
        
    }
    .s-card1 h4{
        margin: 40px;
    }

    .s-card2{
        background-image: url(../Images/Background/card2.jpg);
        background-size: 100% 100%;
        color: white;
        margin: 20px;
        border-radius: 30px;
    }
    .s-card2 h3{
        padding-top: 40px;
        margin: 40px;
        
    }
    .s-card2 h4{
        margin: 40px;
    }

    .s-cards button{
        border-radius: 30px;
        height: 50px;
        width: 60px;
        margin-left: 230px;
        border: none;
        background-color: white;
    }
    .s-img{
        border-radius: 30px;
        height: 30px;
        width: 50px;
    }

    .s-card3{
        background-image: url(../Images/Background/users.jpg);
        background-size: 100% 100%;
        margin: 20px;
        border-radius: 30px;
    }
    .s-card3 h4{
        padding-top: 40px;
        margin: 50px;
        
    }
    .s-users{
        text-align: end;
        margin: 20px;
    }
    .s-users h2{
        font-size: 50px;
    }
    .s-card3 button{
        border-radius: 30px;
        margin-left: 240px;
        border: none;
        background-color: white;
    }

    .s-card4{
        text-align: center;
        background-image: url(../Images/Background/gpt.webp);
        background-size: 100% 100%;
        margin: 20px;
        border-radius: 30px;
        color: white;
        height: 100px;
    }

    .s-card4 img{
        height: 25px;
        width: 25px;
    }
    .s-card4 h2{
        padding-top: 25px;
    }
    .s-card4 h4{
        font-size: 10px;
    }

    .s-card4 button{
        width: 50px;
        height: 40px;
        border-radius: 30px;
        margin-left: 240px;
        border: none;
        background-color: white;
    }


    .s-card5{
        background-image: url(../Images/Background/systems.avif);
        background-size: 100% 100%;
        margin: 20px;
        border-radius: 30px;
        color: white;
    }

    .s-card5 h3{
        padding-top: 40px;
        margin: 40px;
        
    }
    .s-card5 h4{
        margin: 40px;
    }

    .s-card5 button{
        border-radius: 30px;
        height: 50px;
        width: 60px;
        margin-left: 230px;
        border: none;
        background-color: white;
    }

    .s-btn{
        padding: 20px;
        border-radius: 30px;
        background-color: white;
    }

    .about{
        background-image: url(../Images/Background/about.jpg);
        color: white;
        margin: 20px;
        border-radius: 30px;
        padding: 20px;
    }

    .abt-title1{
        margin-top: 30%;
    }
    .abt-title2{
        font-size: 40px;
    }

    .abt-img{
        margin: 10px;
        width: 220px;
        height: 250px;
    }

    .abt-title3{
        margin: 10px;
        font-size: 60px;
    }

    .abt-title3 sup{
        font-size: 20px;
    }
    .abt-btn{
        padding: 20px;
        border-radius: 30px;
        background-color: transparent;
        color: white;
        border: 2px solid white;
        margin: 30px;
    }

    .abt-btn:hover{
        background-color: orangered;
        color: white;
    }

    .Prices{
        margin: 30px;
    }
    .pricing-title{
        margin-top: 20px;
        font-size: 35px;
    }
    .pricing-head h4{
        margin-top: 70px;
    }

    .basic{
        border-radius: 30px;
        border: 2px solid;
        padding: 50px;
    }

    .basic h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .basic ul{
        margin: 15px;
        font-size: 14px;
    }

    .basic button{
        margin-top: 15px;
        padding: 10px;
        border-radius: 20px;
        background-color: white;
    }

    .basic button:hover{
        color: white;
        background-color: black;
    }

    .premium{
        background-color: rgb(230, 230, 230);
        margin-top: 20px;
        border-radius: 30px;
        padding: 50px;
    }

    .premium h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .premium span{
        font-size: 18px;
    }
    .premium ul{
        margin: 15px;
        font-size: 14px;
    }

    .premium button{
        margin-top: 15px;
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-color: rgb(50, 50, 50);
    }

    .premium button:hover{
        color: black;
        background-color: white;
    }

    .footer{
        background-color: black;
        color: white;
        margin: 20px;
        border-radius: 30px;
        padding: 20px;
    }

    .f-title{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .f-heading{
        font-size: 35px;
        margin-bottom: 40px;
    }

    .f-context{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .ff-context{
        margin-top: 20px;
    }

    .f-form{
        background-color: white;
        border-radius: 30px;
        padding: 10px;
        color: black;
    }

    .f-form h3{
        margin-top: 15px;
    }
    .f-form p{
        margin-top: 15px;
    }

    .f-form form{
        margin-top: 15px;
    }

    .f-form input{
        height: 40px;
        width: 200px;
        border: none;
        border-bottom: 2px solid black;
    }
    .f-form textarea{
        height: 40px;
        width: 200px;
        border: none;
        border-bottom: 2px solid black;
    }

    .f-form button{
        padding: 10px;
        border-radius: 20px;
        background-color: black;
        color: white;
        margin: 30px;
    }

    hr{
        margin: 20px;
    }

    .f-lower h2{
        font-size: 30px;
    }

    .f-lower h3{
        margin-top: 20px;
    }

    .f-lower ul{
        display: flex;
        flex-direction: column;
    }

    .f-lower a{
        text-decoration: none;
        color: white;
    }

    .bottom{
        margin-top: 20px;
        text-align: center;
        background-color: white;
        color: black;
        border-radius: 20px 20px 0px 0px;
    }

}

@media (min-width:768px){
    .hm{
        display: flex;
    }
    .h-left h2{
        font-size: 50px;
        margin-left: 100px;
    }
    .hero-content p{
        font-size: 25px;
    }

    .watch-video{
    position: relative;
    display: inline-block;
}

.watch-video img{
    width: 100%;
    border-radius: 20px;
}

.watch-video button{
    position: absolute;
    bottom: 20px;
    right: 20px;

    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

    .bottom-txt{
        font-size: 45px;
        margin-left: 120px;
    }

    .s-cards{
        display: flex;
    }
    .s-card1 button{
        margin-left: 290px;
    }
    .s-card2 button{
        margin-left: 290px;
    }

    .s-card3{

        width: 730px;
        margin-left: 50px;
        height: 300px;
    }
    .s-card3 button{
        height: 80px;
        width: 100px;
        margin-left: 630px;
        position: relative;
        bottom: 40px;
    }
    .s-card3 h4{
        font-size: 35px;
        width: 400px;
    }
    .s-users{
        width: 550px;
    }

    .s-card4{
        height: 100px;
        width: 730px;
        margin-left: 50px;
    }
    .s-card4 button{
        margin-left: 680px;
    }

    .s-card5 button{
        margin-left: 680px;
    }
    .s-card5 h4{
        font-size: 20px;
    }
    .s-card5 h3{
        font-size: 30px;
    }
    .s-card5{
        width: 730px;
        margin-left: 50px;
    }

    .abt{
        display: flex;
    }

    .abt-right{
        padding: 10px;
        margin: 20px;
    }

    .abt-title2{
        width: 300px;
    }
    .abt-img{
        width: 300px;
    }

    .abt-left{
        margin-top: 130px;
    }
    .about{
        height: 700px;
    }

    .basic{
        display: flex;
    }

    .b-left{
        margin: 30px;
        font-size: 30px;
    }
    .b-left h3{
        font-size: 13px;
    }
    .b-center{
        margin: 30px;
    }
    .b-center li{
        font-size: 15px;
    }
    .b-right{
        margin: 30px;
    }


    .premium{
        display: flex;
    }

    .p-left{
        margin: 30px;
        font-size: 30px;
    }
    .p-left h3{
        font-size: 13px;
    }
    .p-center{
        margin: 30px;
    }
    .p-center li{
        font-size: 15px;
    }
    .p-right{
        margin: 30px;
    }

    .pricing-title{
        width: 360px;
        margin-bottom: 20px;
    }

    .f-upper{
        display: flex;
    }

    .f-form{
        width: 700px;
        margin: 20px;
        height: 480px;
        margin-top: 50px;
    }

    .f-form p{
        font-size: 20px;
    }
    .f-form h3{
        font-size: 25px;
        margin-top: 30px;
    }
    .f-form input{
        height: 50px;
        width: 250px;
    }
    .f-form textarea{
        height: 80px;
        width: 250px;
    }

    .f-lower{
        text-align: center;
    }
    .cs{
        display: flex;
        justify-content: center;
        text-align: start;
    }

    .c{
        margin: 50px;
    }
    .c h3{
        font-size: 20px;
    }
    .c a{
        font-size: 20px;
        margin-top: 10px;
    }
    .s{
        margin: 50px;
    }
    .s h3{
        font-size: 20px;
    }
    .s a{
        font-size: 20px;
        margin-top: 10px;
    }
    .bottom{
        border-radius: 20px;
        background-color: white;
    }
}


@media (min-width:992px){

    .hero-content p{
        font-size: 30px;
    }

    .hero-bottom{
        height: 1000px;
    }

    .bottom-txt h2{
        margin: 150px;
    }

    .f-align{
        display: flex;
    }

    .f-align h2{
        margin-left: 50px;
        margin-top: 50px;
        font-size: 50px;
        width: 300px;
    }

    .f-heading{
        font-size: 50px;
        width: 300px;
    }

    .f-content{
        margin-left: 50px;
    }

    .f-h-txt{
        font-size: 20px;
        width: 350px;
    }
    .f-form{
        margin-left: 90px;
        width: 400px;
        height: 500px;
    }

    .form-align{
        padding: 20px;
    }

    .price{
        display: flex;
    }

    .basic{
        width: 480px;
        height: 200px;
    }

    .premium{
        width: 480px;
        height: 200px;
    }

    .pricing-head h2{
        font-size: 70px;
    }
    .Prices{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .b-left{
        width: 500px;
    }
    .b-left h2{
        font-size: 30px;
    }
    .b-left h3{
        font-size: 11px;
    }

    .b-center{
        width: 500px;
    }
    .b-center li{
        margin-top: 10px;
    }

    .b-right button{
        width: 100px;
    }
    .p-center li{
        margin-top: 10px;
    }

    .p-left h2{
        font-size: 28px;
    }

    .p-right button{
        width: 100px;
    }

    .about{
        height: 800px;
    }

    .abt-title2{
        font-size: 50px;
    }

    .abt-left h4{
        font-size: 20px;
        word-spacing: 5px;
        width: 500px;
    }


/* ===== SERVICES GRID ===== */

.services{
    padding:0 60px;
}

.s-cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.s-explore{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    padding-right:100px;
}

.s-card3{
    grid-row: span 2;
}

/* Card sizes */
.s-card1,
.s-card2,
.s-card3,
.s-card4,
.s-card5{
    width:100%;
    border-radius:30px;
    position:relative;
}

/* Heights */
.s-card1,
.s-card2{
    height:300px;
}

.s-card3{
    margin-left: 30px;
    height:500px;
}

.s-card4{
    height:140px;
}

.s-card5{
    height:300px;
}

/* Button position */
.s-card1 button,
.s-card2 button,
.s-card3 button,
.s-card4 button,
.s-card5 button{
    position:absolute;
    bottom:20px;
    right:20px;
}

/* remove old margin fixes */
.s-card1 button,
.s-card2 button,
.s-card3 button,
.s-card4 button,
.s-card5 button{
    margin-left:0;
}

.s-card5 h3{
    padding-top: 0px;
}



.nav-center{
    display:flex;
    gap:30px;
}

.nav-center a{
    text-decoration:none;
    color:black;
    font-weight:500;
}


.hamburger{
    display:none;
}

.nav-right{
    display:block;
    border: 2px solid;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.nav-right a{
    text-decoration: none;
    color: white;
}
.search-icon{
    display:block;
}

.nav-right:hover{
    background-color: orangered;
    color: white;
}

.watch-video{
    position: relative;
    display: inline-block;
}

.watch-video img{
    width: 100%;
    border-radius: 20px;
}

.watch-video button{
    position: absolute;
    bottom: 20px;
    right: 20px;

    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

/* hide explore button */
.s-btn{
    display:none;
}

}

@media (min-width:1440px){

/* HERO SECTION */
.hm{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 120px;
    margin-bottom: 100px;
}

.h-left{
    width:50%;
}

.h-left h2{
    font-size:150px;
    line-height:1.2;
}

.hero-content{
    width:50%;
}

.hero-content p{
    font-size:50px;
    line-height:1.6;
}

.hero-content button{
    margin-top:40px;
    padding:20px 20px;
    font-size:30px;
}

/* WATCH VIDEO IMAGE */
.watch-video{
    padding:0 120px;
}

.watch-video img{
    width:200%;
    height: 550px;
}

.watch-video button{
    text-align: center;
    border: 2px solid;
    font-size: 30px;
    padding:50px;
}

/* SERVICES SECTION */
.services{
    padding:0 120px;
}

.services-txt{
    margin-top: 100px;
    font-size: 30px;
}

.s-txt{
    font-size: 80px;
}

.s-card1{
    height: 800px;
}
.s-card1 h3{
    font-size: 60px;
}
.s-card1 h4{
    width: 500px;
    font-size: 50px;
}
.s-card1 button{
    height: 100px;
    width: 100px;
}

.s-card2{
    height: 800px;
}
.s-card2 h3{
    font-size: 60px;
}
.s-card2 h4{
    width: 500px;
    font-size: 50px;
}
.s-card2 button{
    height: 100px;
    width: 100px;
}

.s-card3{
    height: 700px;
}
.s-card3 h4{
    font-size: 50px;
}
.s-card3 button{
    height: 100px;
    width: 100px;
}

.s-users{
    padding-left: 500px;
}
.s-users h2{
    font-size: 100px;
}
.s-users h5{
    font-size: 40px;
}

.s-card4{
    height: 200px;
}
.s-card4 h2{
    font-size: 60px;
}
.s-card4 h4{
    font-size: 30px;
}

.s-card4 button{
    height: 70px;
    width: 80px;
}

.s-card5{
    height: 430px;
}
.s-card5 h3{
    font-size: 60px;
}
.s-card5 h4{
    font-size: 30px;
}
.s-card5 button{
    height: 100px;
    width: 100px;
}

.bottom-txt h2{
    font-size: 100px;
}

.bottom-txt{
    margin-left: 900px;
}

/* ABOUT SECTION */
.about{
    margin:80px 120px;
    height: 1200px;
}
.abt{
    display: flex;
    justify-content: space-around;
}
.abt-title1{
    font-size: 40px;
}
.abt-title2{
    margin-top: 20px;
    font-size: 80px;
    width: 500px;
}
.abt-title3{
    font-size: 80px;
}
.abt-left h4{
    width: 800px;
    font-size: 40px;
}
.abt-btn{
    font-size: 20px;
    width: 300px;
    height: 100px;
}

.abt-img{
    height: 400px;
    width: 500px;
}
.price{
    margin: 200px;
}
.pricing-head{
    width: 800px;
}
.pricing-head h4{
    font-size: 40px;
}

.basic{
    width: 800px;
}
.b-left h2{
    font-size: 50px;
}
.b-left h3{
    font-size: 20px;
}
.b-center li{
    font-size: 20px;
}
.b-right h2{
    font-size: 50px;
}
.b-right button{
    font-size: 20px;
    width: 150px;
    height: 50px;
}

.premium{
    width: 800px;
}
.p-left h2{
    font-size: 50px;
}
.p-left h3{
    font-size: 20px;
}
.p-center li{
    font-size: 20px;
}
.p-right h2{
    font-size: 50px;
}
.p-right button{
    font-size: 20px;
    width: 150px;
    height: 50px;
}




/* FOOTER */
.footer{
    margin:80px 120px;
}
.f-title{
    font-size: 30px;
}
.f-upper{
    justify-content: space-around;
}
.f-heading{
    width: 600px;
    font-size: 80px;
}
.f-h-txt{
    width: 600px;
    font-size: 50px;
}
.ff-context
{
    margin-top: 50px;
    width: 600px;
    font-size: 50px;
}

.f-p{
    width: 600px;
    font-size: 30px;
}
.f-form{
    width: 500px;
    height: 1000px;
}
.f-form h3{
    font-size: 50px;
}
.f-form p{
    font-size: 40px;
}
.f-form p{
    font-size: 40px;
}

.f-form input{
        height: 100px;
        width: 400px;
    }
    .f-form textarea{
        margin-top: 30px;
        height: 100px;
        width: 400px;
    }

    .f-form input,placeholder,textarea{
        font-size: 20px;
    }

    .f-form button{
        font-size: 20px;
        border-radius: 50px;
        height: 100px;
        width: 200px;
    }

    .f-align{
        justify-content: space-around;
    }

    .f-align h2{
        font-size: 60px;
    }
    .c h3{
        font-size: 40px;
    }
    .c a{
        font-size: 30px;
    }
    .s h3{
        font-size: 40px;
    }
    .s a{
        font-size: 30px;
    }

    .bottom{
        padding: 20px;
    }

    .bottom p{
        font-size: 30px;
    }

    .navbar{
        height: 120px;
    }
    .nav-left img{
        height: 100px;
    }
    .nav-center{
        font-size: 40px;
    }
    .nav-right a{
        font-size: 30px;
    }
    .nav-right{
        border-radius: 50px;
    }

}